@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 243, 224;
  --background-end-rgb: 255, 255, 255;
}

.theme-sunset {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 243, 224;
  --background-end-rgb: 255, 255, 255;
}

.theme-sunrise {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 225, 245, 254;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 66, 45, 24;
    --background-end-rgb: 33, 22, 12;
  }
  
  .theme-sunset.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 66, 45, 24;
    --background-end-rgb: 33, 22, 12;
  }
  
  .theme-sunrise.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 1, 87, 155;
    --background-end-rgb: 0, 29, 51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Sunset Theme Colors */
.text-sunset-50 { color: #FFF8E1; }
.text-sunset-100 { color: #FFECB3; }
.text-sunset